<h1 id="feed">
  <a href="/feed/funny">Funny</a>
  <a href="/feed/tinder">Tinder</a>
  <a href="/feed/cute">Cute</a>
  <a href="/feed/smart">Smart</a>
</h1>

<div id="filter">
  <button id="best">Best</button>
  <button id="new">New</button>
</div>

<h3 id="post">
  <a href="/new">Post new Pickup Line</a>
</h3>

{{#each post}}
<div id="pickUpLine">
  <a href="">{{userid.username}}</a>
  <div>{{created_at}}</div>
  <button class="upVote" id={{this._id}} score={{this.score}}>Up </button>
  <button class="downVote">Down</button>
  <span id="score">{{score}}</span>
  <h1>
    {{content}}
  </h1>
  <a href="">Check Comments</a>
</div>
{{/each}}

<script>
  console.log(axios)
  function voteUp(e) {
    console.log(e.target.id)
    axios.post(`/vote/${e.target.id}`, { score: e.target.score }).then(response => {
      console.log(response)
    })

  }
  document.querySelectorAll(".upVote").forEach(el => {
    el.addEventListener("click", voteUp)
  });
</script>